*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
.emacs.desktop
.emacs.desktop.lock
network-security.data
prelude-cheatsheet.el
prelude-cheatsheet.aux
prelude-cheatsheet.log
.cache/
/.persistent
/tramp
/var
/transient
/workspace
/request
/.org-id-locations
/.lsp-session*
/eclipse.jdt.ls
/.dap-breakpoints
/.mc-lists.el
/personal/flycheck_init.el
